doctype 5
html
	head
		title Ballony
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		include ./../static/js/ballony.js
		include ./../static/css/ballony.css
		include ./../static/css/bootstrap.min.css
	body
		div#top
			h1 Ballony in the sky
		div#appBody
			div.instructions
				h4 Help Ballony find a rainbow in the clouds!
				p Use 'R', 'L', 'U' or 'D' keys to go right, left, up or down
			div.content
				img(src='/img/cloud.gif').cloud.first
				img(src='/img/cloud.gif').cloud.second
				img(src='/img/cloud.gif').cloud.third
				img.balloony(src='/img/ballony.gif')
			span
		div#footer
			p Copyright 2013 *-* @EleonoreMayola
