/* ---- Background & non-game elements ---- */

body {
	text-align: center;
	background-image: url('/img/gplaypattern.png')
}
#top {
	margin-top: 3%;
}
#appBody {
	margin-top: 3%;
}
.instructions {}
.content {
	margin-top: 100px;
	margin-left: 480px;
/*	border: 1px solid #7F7171;*/
	border-radius: 5px;
	width: 900px;
	height: 700px;
	padding-left: 60px;
}
#footer {
	margin-top: 10%;
}

/* ----- Game elements ----- */
/* ----- GRID ------ */
.grid {
	width: 200px;
	height: 200px;
/*	background-color: #255C9B;*/
	background-color: #72AADB;
	border: 1px solid #395F8E;
	border-radius: 5px;
	float: left;
	z-index: 10;
/*	opacity: 0.8;*/
}
.first_grid {
	border: 1px solid red;
}
.seventh_grid {
	border: 1px solid red;
}
.tenth_grid {
	border: 1px solid red;
}
/* ----- BALLOONY ------ */
.balloony {
	height: 14%;
	width: 8%;
	position: absolute;
	top: 320px;
	left: 380px;
	z-index: 100;
}
/* ----- CLOUDS ------ */
.cloud {
	height: 15%;
	width: 10%;
	position: absolute;
	z-index: 100;
	opacity: 0.8;

    -webkit-animation: small_slide 2s linear infinite;
       -moz-animation: small_slide 2s linear infinite;
            animation: small_slide 2s linear infinite;
}
.cloud:nth-of-type(1) {
	top: 360px;
	left: 550px;
}
.cloud:nth-of-type(2) {
	top: 560px;
	left: 950px;
}
.cloud:nth-of-type(3) {
	top: 760px;
	left: 750px;
}

/* ----- clouds animation ----- */
@keyframes small_slide {
	50% {
		transform: translate(10px);
	}
}
