/* ---- Background & non-game elements ---- */

body {
	text-align: center;
	background-image: url('/img/gplaypattern.png')
}
#top {
	margin-top: 3%;
}
#appBody {
	margin-top: 3%;
}
.instructions {}
.content {
	margin-top: 100px;
	margin-left: 480px;
/*	border: 1px solid #7F7171;*/
	border-radius: 5px;
	width: 900px;
	height: 700px;
	padding-left: 60px;
}
#footer {
	margin-top: 10%;
}

/* ----- Game elements ----- */
/* ----- GRID ------ */
.grid {
	width: 200px;
	height: 200px;
/*	background-color: #255C9B;*/
	background-color: #72AADB;
	border: 1px solid #395F8E;
	border-radius: 5px;
	float: left;
	z-index: 10;
/*	opacity: 0.8;*/
}
/* ----- BALLOONY ------ */
.balloony {
	height: 10%;
	width: 10%;
	z-index: 100;
}
/* ----- CLOUDS ------ */
.cloud {
	height: 15%;
	width: 10%;
	position: absolute;
/*	top: -200px;
	left: -100px;*/
	z-index: 100;
	opacity: 0.8;

    -webkit-animation: small_slide 2s linear infinite;
       -moz-animation: small_slide 2s linear infinite;
            animation: small_slide 2s linear infinite;
}
.cloud:nth-child(2n) {
	top: 760px;
	left: 760px;
}
.cloud:nth-child(3n+1) {
	top: 360px;
	left: 550px;
}
.cloud:nth-child(2n+1) {
	top: 560px;
	left: 950px;
}
/*.cloud:nth-child(1n) {
	top: -180px;
	left: -120px;
}
.cloud:nth-child(2n) {
	top: -390px;
	left: -100px;
}
.cloud:nth-child(3n) {
	top: -580px;
	left: 130px;
}*/
/* ----- clouds animation ----- */
@keyframes small_slide {
	50% {
		transform: translate(10px);
	}
}